.width-sidebar {
  width: 16.5%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: #e9ebee;
  padding: 0;
  margin: 0;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.sidebar {
  ul {
    list-style: none;
    position: relative;
    top: 5rem;
    margin: 0;
    padding: 0;

    & > li {
      margin-top: 1rem;
      padding: 2rem 0rem 2rem 1.2rem;
      span {
        i.icon-nav {
          padding-right: 1rem;
          font-size: 2rem;
          color: #385898;
        }
        i.icon-arrow {
          font-size: 1.4rem;
          float: right;
          padding-right: 1rem;
        }
      }

      a:link,
      a:visited {
        color: #1d2129;
        width: 100%;
        height: 100%;
        display: inline-block;
      }

      ul {
        top: 1rem;

        li {
          margin-top: 1rem;
          padding: 1.5rem 0 1.5rem 1.5rem;
          background-color: #ffffff;
          i {
            padding-right: 0.5rem;
          }
        }
        li:hover,
        li:active {
          background-color: #e9ebee;
        }
      }
    }

    li:hover,
    li:active,
    li:focus {
      background-color: #fff;
    }
  }
}
