.account-info {
  height: 17rem;
  margin-top: 3rem;
  padding: 2rem;
  background-color: #4269b6;

  &_title {
    font-size: 1.5rem;
    font-weight: 400;
    color: #fff;
    padding-bottom: 3rem;
    letter-spacing: 4px;
  }
  &_amount {
    color: #fff;
    font-size: 2rem;
  }
}
