.member-card {
  background: #f4f4f4 none repeat scroll 0 0;
  border: 1px solid #808080;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  text-align: center;
  transition: all 0.3s ease 0s;
  width: 240px;
  min-height: 330px;
  max-height: 330px;

  img {
    height: 250px;
    padding-top: 10px;
    margin: auto;
    width: 70% !important;
  }

  &-text {
    padding: 10px 16px;
    font-family: "MerriweatherSans";

    & > h4 {
      font-size: 13px;
    }
    & > p {
      font-size: 12px;
      margin-bottom: 0;
      text-align: center;
      color: #385898;
    }
  }
}
