.Customenavbar {
  background: linear-gradient(90deg, #0c2646 0, #204065 60%, #2a5788);
  padding: 0 0 2rem 0rem;
  height: 168px;
  position: relative;
  right: 0;
}

.left-nav {
  position: absolute;
  top: 17px;
  right: 10px;
  list-style: none;
  li {
    display: inline;
    margin-left: 2rem;
  }
  a {
    &:visited,
    &:link,
    &:focus {
      color: #ffffff;
      font-size: 0.8571em;
    }
  }
}
